{% extends 'common/base.html' %}
{% block title %}{{ jobs_data.name }}{% endblock %}
{% block page_head %}{% endblock %}
{% block content %}

<style type="text/css">
  textarea{
    border:0;
    background-color:transparent;
    outline: none;
    resize:none;
    color: #666464;
    height: auto;
    width:98%;
    height:300px;
    max-height:400px
  }
</style>
<div >
  <pre>
      <textarea name="script_content" readonly="readonly" class="col-md-12">{{ jobs_data.script_content }}</textarea>
  </pre>
</div>




{% endblock %}

{% block js %}


<script type="text/javascript">

</script>

{% endblock %}
