{% extends 'common/base.html' %}
{% block title %}作业执行{% endblock %}
{% block page_head %}{% endblock %}
{% block content %}
<div class="col-md-12">
    <div class="box box-primary">
    <div class="row">
      <form role="form" id='job_form' name='job_form' method="post">{% csrf_token %}
        <!-- >基本信息 -->
        <div class="col-md-12">
          <div class="col-md-6">
            <div class="modal-header">
              <h4 class="modal-title"><i class="fa fa-tags"></i>作业执行</h4>
            </div>
              <div class="form-group">
                <label>名称</label>
                <div class="input-group">
                  <div class="input-group-addon">
                    <i class="fa fa-smile-o"></i>
                  </div>
                  <input type="text" class="form-control" placeholder="{{ job_name }}"  value="{{ job_name }}" name="name" disabled>
                </div>
              </div>

              <div class="form-group">
                <label>描述</label>
                <div class="input-group">
                  <div class="input-group-addon">
                    <i class="fa fa-smile-o"></i>
                  </div>
                  <input type="text" class="form-control" placeholder="{{ script_description }}" value="{{ script_description }}" name="description" disabled>
                </div>
              </div>
              <input type="hidden"  class="form-control" value="{{ script_name }}" name='script_name'>

              <!-- radio -->
              <div >
                <label>代码语言</label>
                <label>
                  <input type="radio" name="language"  value="" checked> {{ script_language }} &nbsp&nbsp&nbsp
                </label>
              </div>
              </div>
              <div class="col-md-8" >
                <div class="col-md-8" >
                  <select id='host' name='host' class="form-control select2" multiple="multiple" data-placeholder="目标主机,未设置同步的主机不可选..."
                          style="width: 100%;">
                    {% for cert in cert_data %}
                      <option value="{{ cert.ip }}">{{ cert.ip }}</option>
                    {% endfor %}
                  </select>
                </div>
                <div class="col-xs-2" >
                  <button class="btn btn-warning" onclick="exec_jobs()" >执行代码</button>
                </div>
              </div>
          </div>
            <div class="modal-footer">
            </div>
      </form>
      <pre style="display:none;">
        <textarea id='script_content' name="script_content" form='job_form' ></textarea>
      </pre>

    </div>
    </div>
</div>

{% endblock %}

{% block js %}

<script type="text/javascript">
      $('.select2').select2()

    function exec_jobs(){
      document.job_form.action="{% url 'automation_job_execute_action' %}";
      document.job_form.target="_blank"
      document.job_form.submit();
    }
</script>

{% endblock %}
