{% extends 'common/base.html' %}
{% block title %} OS同步信息 {% endblock %}
{% block page_head %} {% endblock %}

{% block content %}

<div class="col-md-2">
  <div class="box box-solid">
    <div class="box-body no-padding">
      <ul class="nav nav-pills nav-stacked">
        <li><a href="{% url 'operSystem_base_detail' operSystem_data.id %}"><i class="fa fa-hand-peace-o"></i>基本信息</a></li>
        <li class='active'><a href="{% url 'operSystem_sync_detail' operSystem_data.id %}"><i class="fa fa-hand-peace-o"></i>同步信息</a></li>
      </ul>
    </div>
  </div>

  <div class="active tab-pane" id="zilia">
    <div class="post">
      <div class="row">
        <div class="col-xs-12">
          <div class="box-body">
          <span><h4><font color="red">{{ error_data }}</font></h4></span><p><p>
          <button type="button" id='getoption' class="btn btn-block btn-primary btn-sm" data-toggle="modal" data-target="#pingzheng">
            同步设置
          </button></br></br>
          <button id="sync" class="btn btn-block btn-default btn-sm" onclick="sync()">
          同步状态:{{ Cert_data.sync }}(点击关闭同步)
          </button></br></br>
          <a href="{% url 'operSystem_index' %}">
            <button class="btn btn-block btn-default">返回</button>
          </a>
          </div>
          </div>
        </div>
        <div class="modal fade" id="pingzheng">
        <div class="modal-dialog ">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">设置凭证</h4>
                </div>
                <div class="modal-body">
                    <form role="form" action="{% url 'operSystem_set_cert' operSystem_data.id %}" method="post">
                        <div class="form-group">
                          <label>IP</label>
                          <input type="text" class="form-control"  value="{{ Cert_data.ip }}" name="ip">
                          <label>端口</label>
                          <input type="text" class="form-control"  value="{{ Cert_data.port }}" name="port">
                          <label>主机系统</label>
                          <select class="form-control" name="os_type">
                            <option value="{{ Cert_data.os_type }}">{{ Cert_data.os_type }}</option>
                            <option value='linux'>linux</option>
                            <option value='windows'>windows</option>
                          </select>
                          <label>用户名</label>
                          <input type="text" class="form-control" value="{{ Cert_data.username }}" name="username">
                          <label>密码</label>
                          <input type="password" class="form-control" value="{{ Cert_data.password }}" name="password">
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-default pull-left" data-dismiss="modal">取消</button>
                          <input type="submit" name="create" class="btn btn-primary" >
                        </div>
                    </form>
                </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>





<div class="col-md-10">
    <div class="box box-primary">
      <div class="row">
          <!-- >基本信息 -->
          <div class="col-md-12">
            <div class="col-md-4">
              <div class="modal-header">
                <h4 class="modal-title"><i class="fa fa-tags"></i>凭证信息</h4>
              </div>
                <div class="form-group">
                  <label>IP: </label> {{ Cert_data.ip }}
                </div>
            </div>
            <!-- right-->
            <div class="col-md-4">
              <div class="modal-header">
                <h4 class="modal-title">&nbsp</h4>
              </div>
                <div class="form-group">
                  <label>用户: </label> {{ Cert_data.username }}
                </div>
            </div>
            <!-- right-->
            <div class="col-md-4">
              <div class="pull-right">
               同步时间: {{ sync_data.update_time }}</div>
              <div class="modal-header">
                <h4 class="modal-title">&nbsp</h4>
              </div>
                <div class="form-group">
                  <label>系统: </label> {{ Cert_data.os_type }}
                </div>
            </div>
          </div>


          <div class="col-md-12">
              <div class="col-md-4">
                <div class="modal-header">
                  <h4 class="modal-title"><i class="fa fa-tags"></i>基本信息</h4>
                </div>
                <div class="form-group">
                  <label>主机名: </label> {{ sync_data.hostname }}
                </div>
                <div class="form-group">
                  <label>主机IP: </label> {{ sync_data.host_ip }}
                </div>
                <div class="form-group">
                  <label>操作系统: </label> {{ sync_data.os_sys }}
                </div>
                <div class="form-group">
                  <label>系统版本: </label> {{ sync_data.os_version }}
                </div>
              </div>
            <!-- right-->
              <div class="col-md-4">
                <div class="modal-header">
                  <h4 class="modal-title">&nbsp</h4>
                </div>
                <div class="form-group">
                  <label>内核版本: </label> {{ sync_data.os_kernel }}
                </div>
                <div class="form-group">
                  <label>物理CPU: </label> {{ sync_data.cpu_num }} 个
                </div>
                <div class="form-group">
                  <label>CPU内核数: </label> {{ sync_data.cpu_core }} 个
                </div>
                <div class="form-group">
                  <label>cpu型号: </label><a data-toggle="modal" data-target=#cpudetail>  点击查看详细信息</a>
                </div>
              </div>
            <!-- right-->
              <div class="col-md-4">
                <div class="modal-header">
                  <h4 class="modal-title"> &nbsp</h4>
                </div>
                <div class="form-group">
                  <label>内存总量: </label> {{ sync_data.mem_total }} GB
                </div>
                <div class="form-group">
                  <label>磁盘总量: </label> {{ sync_data.disk_total }} GB
                </div>
                <div class="form-group">
                  <label>产品ID: </label> {{ sync_data.product_id }}
                </div>
                <div class="form-group">
                  <label>安装时间: </label> {{ sync_data.install_date }}
                </div>
              </div>
          </div>



        <div class="col-md-12">
          <div class="col-md-12">
            <div class="modal-header">
              <h4 class="modal-title"><i class="fa fa-tags"></i>磁盘信息</h4>
            </div>
                <table id="department_data" class="table table-bordered table-striped">
                  <thead>
                  <tr>
                    <th style="display:none">id</th>
                    <th>名称</th>
                    <th>总容量</th>
                    <th>剩余容量</th>
                    <th>文件系统</th>
                  </tr>
                  </thead>
                  <tbody>
                  {% for disk in disk_data %}
                  <tr>
                    <td>{{ disk.filesystem }}</td>
                    <td>{{ disk.size }}</td>
                    <td>{{ disk.freespace }}</td>
                    <td>{{ disk.dev_type }}</td>
                  </tr>
                  {% endfor %}
                  </tbody>
                </table>
          </div>
       </div>



        <div class="col-md-12">
          <div class="col-md-12">
            <div class="modal-header">
              <h4 class="modal-title"><i class="fa fa-tags"></i>网络信息</h4>
            </div>
                <table id="department_data" class="table table-bordered table-striped">
                  <thead>
                  <tr>
                    <th style="display:none">id</th>
                    <th>名称</th>
                    <th>IP</th>
                    <th>MAC</th>
                    <th>掩码</th>
                  </tr>
                  </thead>
                  <tbody>
                  {% for network in network_data %}
                  <tr>
                    <td>{{ network.name }}</td>
                    <td>{{ network.ip }}</td>
                    <td>{{ network.mac }}</td>
                    <td>{{ network.subnet }}</td>
                  </tr>
                  {% endfor %}
                  </tbody>
                </table>
          </div>
       </div>




    </div>
  </div>
</div>

<div class="modal fade" id="cpudetail">
  <div class="modal-dialog ">
    <div class="modal-content">
      <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title">详细信息</h4>
      </div>
          <table class="table">
            <tbody>
              {% for cpu in cpu_model %}
              <tr><th>{{ cpu.id }}</th><td>{{ cpu.name }}</td></tr>
              {% endfor %}
            </tbody>
          </table>
    </div>
  </div>
</div>

{% endblock %}

<!-- sync -->
{% block js %}

<style type="text/css"> 
body{font:12px/1.8 arial;} 
a,a:visited{color:#3366cc;text-decoration:none;} 
a:hover{color:#f60;text-decoration:underline;} 
.tip{width:200px;border:2px solid #ddd;padding:8px;background:#f1f1f1;color:#666;} 
img{border:none;} 
</style> 

<script>
  function sync() {
    var mark = document.getElementById('sync').innerText;
    if (mark == '同步状态:on(点击关闭同步)') {
        document.getElementById('sync').innerText = "同步状态:off(点击开启同步)";
    }
    else {
        document.getElementById('sync').innerText = "同步状态:on(点击关闭同步)";
    }
    $.ajax({
        type: "POST",
        url: "{% url 'operSystem_set_sync' operSystem_data.id %}",
      });
    alert("同步状态已切换,后台拼命更改中,请勿重复点击~");
  }

</script>
{% endblock %}