{% extends 'common/base.html' %}
{% block title %} 成员 {% endblock %}
{% block page_head %} {% endblock %}

{% block content %}

<div class="col-md-2">
  <div class="box box-solid">
    <div class="box-header with-border">
      <h3 class="box-title">组织设置</h3>
      <div class="box-tools">
        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
        </button>
      </div>
      <div class="box-tools">
        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
        </button>
      </div>
    </div>
    <div class="box-body no-padding">
      <ul class="nav nav-pills nav-stacked">
        <li><a href="{% url 'setOrg_get_department' %}"><i class="fa fa-hand-peace-o"></i>部门</a></li>
        <li><a href="{% url 'setOrg_get_team' %}"><i class="fa fa-hand-peace-o"></i> 团队</a></li>
        <li class='active'><a href="{% url 'setOrg_get_member' %}"><i class="fa fa-hand-peace-o"></i> 成员</a></li>
      </ul>
    </div>
  </div>
</div>

<div class="col-md-6">
<div class="box box-info">
  <div class="box-header with-border">
    <h3 class="box-title">修改成员信息</h3>
  </div>
  <div class="login-box-body">
    <form action="{% url 'setOrg_modify_member_action' %}" method="post">
      <div class="form-group">
        <input type="hidden"  class="form-control" value="{{ member_data.id }}" name='id'>
        <label>姓名</label>
        <input type="text" class="form-control" value="{{ member_data.name }}" name="name">
        <label>所属团队</label>
        <select class="form-control" id="addoption" name="team">
          <option  value={{ member_data.team_name }}>{{ member_data.team_name }}</option>
        </select>
        <label>电话</label>
        <input type="text" class="form-control" value="{{ member_data.phone }}" name="phone">
        <label>邮件</label>
        <input type="text" class="form-control" value="{{ member_data.email }}" name="email">

      </div>
      <div class="row">
        <div class="box-footer">
                <a href="{% url 'setOrg_get_member' %}">取消</a>
                <button type="submit" class="btn btn-info pull-right">修改</button>
        </div>
        <!-- /.col -->
      </div>
    </form>

  </div>
</div>
</div>
{% endblock %}

{% block js %}
<script type="text/javascript">
    function del() {
      var msg = "您确定要删除吗？";
        if (confirm(msg)==true){
          return true;
        }else{
          return false;
      }
    }
    $(function () {
      $('#brandtype_data').DataTable()
    })

    $.ajax({
      type: "GET",
      url: "/setOrg/api/get_team/",
      dataType : "json", // 指定返回类型
      //data: {xxx:"yyy"}, // 传递到后台的参数
      success: function(data){
        var team_data = data
        var option=null;
        for (var i =0;i<team_data.length;i++){
          option +="<option + value="+team_data[i].name+">"+team_data[i].name+"</option>"
        }
        $("#addoption").empty();
        $("#addoption").append(option);
        },
      error : function(){
        alert("setOrg数据获取出现问题");
      }
    });
</script>
{% endblock %}
