  <aside class="main-sidebar">
    <section class="sidebar">
      <ul class="sidebar-menu" data-widget="tree">
        <li class="header">测试页</li>
        <li><a href="{% url 'index_test' %}"><i class="fa fa-link"></i> <span>test</span></a></li>

        <li class="header">应用页</li>
        <li><a href="#"><i class="fa fa-link"></i> <span>index</span></a></li>
        <li class="treeview">
          <a href="#">
            <i class="fa fa-link"></i> <span>资产</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="{% url 'hdServer_index' %}"><i class="fa fa-circle-o"></i>服务器</a></li>
            <li><a href="#"><i class="fa fa-circle-o"></i>网络设备</a></li>
            <li><a href="{% url 'operSystem_index' %}"><i class="fa fa-circle-o"></i>操作系统</a></li>
          </ul>
        </li>


        <li class="treeview">
          <a href="#">
            <i class="fa fa-pie-chart"></i>
            <span>自动化</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="{% url 'atuomation_index' %}"><i class="fa fa-circle-o"></i>添加作业</a></li>
            <li><a href="{% url 'atuomation_index' %}"><i class="fa fa-circle-o"></i>作业执行</a></li>
          </ul>
        </li>

        <li class="treeview">
          <a href="#">
            <i class="fa fa-pie-chart"></i>
            <span>设置</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="{% url 'setOrg_index' %}"><i class="fa fa-circle-o"></i> 组织设置</a></li>
            <li><a href="{% url 'setData_index' %}"><i class="fa fa-circle-o"></i> 资产设置</a></li>
            <li><a href="#"><i class="fa fa-circle-o"></i>其他设置</a></li>

          </ul>
        </li>

        <li class="treeview">
          <a href="#">
            <i class="fa fa-laptop"></i>
            <span>虚机管理</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="#"><i class="fa fa-circle-o"></i> 新建虚拟</a></li>
            <li><a href="#"><i class="fa fa-circle-o"></i> 其他</a></li>

          </ul>
        </li>

      </ul>
    </section>
  </aside>
