{% extends 'common/base.html' %}
{% block title %}主页-用户{% endblock %}
{% block page_head %} {% endblock %}
{% block content %}


<a href="{% url 'hdServer_add_hd' %}" title="修改按钮"><i class="fa  fa-pencil-square"></i></a>


<div class="col-md-10">
  <div class="box box-primary">
    <div class="box-body no-padding">
      <div class="table-responsive mailbox-messages">
        <div class="box-body">
          <table id="team_data" class="table table-bordered table-striped">
            <thead>
            <tr>
              <th style="display:none">id</th>
              <th>用户</th>
              <th>所属团队</th>
              <th>联系方式</th>
              <th>邮箱</th>
              <th>操作</th>
            </tr>
            </thead>
            <tbody>
            {% for member in member_data %}
            <tr>
              <td style="display:none">{{ member.id }}</td>
              <td>{{ member.name }}</td>
              <td>{{ member.team_name }}</td>
              <td>{{ member.phone }}</td>
              <td>{{ member.email }}</td>
              <td>
              <a href="{% url 'setOrg_delete_member' member.id %}" onclick='return del();' title="删除按钮"><i class="fa fa-minus-square" ></i></a>&nbsp;&nbsp;
              <a href="{% url 'setOrg_modify_member' member.id %}" title="修改按钮"><i class="fa  fa-pencil-square"></i></a>
              </td>
            </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>



{% endblock %}
{% block js %}
<script type="text/javascript">
    // $(function () {
    //   $('#team_data').DataTable()
    // })

      // function del() {
      //   var msg = "您确定要删除吗？";
      //     if (confirm(msg)==true){
      //       return true;
      //     }else{
      //       return false;
      //   }
      // }

    //ajax请求
    // $("#getoption").click(function(){
    //   $.ajax({
    //     type: "GET",
    //     url: "/setOrg/api/get_team/",
    //     dataType : "json", // 指定返回类型
    //     //data: {xxx:"yyy"}, // 传递到后台的参数
    //     success: function(data){
    //       var team_data = data
    //       var option=null;
    //       for (var i =0;i<team_data.length;i++){
    //         option +="<option + value="+team_data[i].name+">"+team_data[i].name+"</option>"
    //       }
    //       $("#addoption").empty();
    //       $("#addoption").append(option);
    //       },
    //     error : function(){
    //       alert("setOrg数据获取出现问题");
    //     }
    //   });
    // });

</script>
{% endblock %}
