{% extends 'common/base.html' %}
{% block title %}主机{% endblock %}
{% block page_head %} {% endblock %}
{% block content %}
<div class="col-md-2">
  <div class="box box-solid">
    <div class="box-header with-border">
      <h3 class="box-title">资源设置</h3>
    </div>
    <div class="box-body no-padding">
      <ul class="nav nav-pills nav-stacked">
        <li class='active'><a href="#"><i class="fa fa-hand-peace-o"></i> 品牌</a></li>
        <li><a href="{% url 'setData_get_brandtype' %}"><i class="fa fa-hand-peace-o"></i> 型号</a></li>
        <li><a href="#"><i class="fa fa-hand-peace-o"></i> 数据中心</a></li>
        <li><a href="#"><i class="fa fa-hand-peace-o"></i> 许可证 </a></li>
        <li><a href="#zilic" data-toggle="tab">zilic</a></li>
      </ul>
    </div>
  </div>

  <div class="active tab-pane" id="zilia">
    <div class="post">
      <div class="row">
        <div class="col-xs-12">
          <div class="box-body">
          <button type="button" class="btn btn-block btn-primary" data-toggle="modal" data-target="#create-brand">
            添加品牌
          </button>
          </div>
          </div>
        </div>
        <div class="modal fade" id="create-brand">
        <div class="modal-dialog ">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">添加品牌</h4>
                </div>
                <div class="modal-body">
                    <form role="form" action="{% url 'setData_create_brand' %}" method="post">
                        <div class="form-group">
                          <label>品牌名称</label>
                          <input type="text" class="form-control" placeholder="请输入..."  value='' name="name">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default pull-left" data-dismiss="modal">取消</button>
                            <input type="submit" value="创建" name="create" class="btn btn-primary" >
                        </div>
                    </form>
                </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="col-md-10">
  <div class="box box-primary">
    <div class="box-body no-padding">
      <div class="table-responsive mailbox-messages">
        <div class="box-body">
          <table id="brand_data" class="table table-bordered table-striped">
            <thead>
            <tr>
              <th style="display:none">id</th>
              <th>品牌</th>
              <th>新加时间</th>
              <th>添加人</th>
              <th>操作</th>
            </tr>
            </thead>
            <tbody>
            {% for brand in brand_data %}
            <tr>
              <td style="display:none">{{ brand.id }}</td>
              <td>{{ brand.name }}</td>
              <td>{{ brand.create_time }}</td>
              <td>{{ brand.who_create }}</td>
              <td>
              <button type="button" class="btn btn-info" data-toggle="modal"><a href="#">删除</a></button>
              <button type="button" class="btn btn-info" data-toggle="modal"><a href="#">修改</a></button>
              </td>
            </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
{% block js %}
<script type="text/javascript">
    $(function () {
      $('#brand_data').DataTable()
    })

    // $("#getoption").click(function(){
    //   $.ajax({
    //     type: "GET",
    //     url: "/setData/api/get_brand/",
    //     dataType : "json", // 指定返回类型
    //     //data: {xxx:"yyy"}, // 传递到后台的参数
    //     success: function(data){
    //       //var brand_data = JSON.parse(data.brandtype_data)
    //       var brand_data = data
    //       console.info( "data：" + brand_data + "--length:" + brand_data.length );
    //       var option=null;
    //       for (var i =0;i<brand_data.length;i++){
    //         option +="<option + value="+brand_data[i].id+">"+brand_data[i].name+"</option>"
    //       }
    //       $("#addoption").append(option);
    //       },
    //     error : function(){
    //     alert("setData数据获取出现问题");
    //     }
    //   });
    // });
</script>
{% endblock %}
