{% extends 'common/base.html' %}
{% block title %} create_brand {% endblock %}
{% block page_head %} {% endblock %}

{% block content %}

<div class="col-md-2">
  <div class="box box-solid">
    <div class="box-header with-border">
      <h3 class="box-title">资源设置</h3>
      <div class="box-tools">
        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
        </button>
      </div>
      <div class="box-tools">
        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
        </button>
      </div>
    </div>
    <div class="box-body no-padding">
      <ul class="nav nav-pills nav-stacked">
        <li class='active'><a href="{% url 'setData_get_brand' %}"><i class="fa fa-hand-peace-o"></i> 品牌</a></li>
        <li><a href="{% url 'setData_get_brandtype' %}"><i class="fa fa-hand-peace-o"></i> 型号</a></li>
        <li><a href="{% url 'setData_get_position' %}"><i class="fa fa-hand-peace-o"></i> 地理位置</a></li>
        <li><a href="{% url 'setData_get_datacenter' %}"><i class="fa fa-hand-peace-o"></i> 数据中心</a></li>
        <li><a href="#"><i class="fa fa-hand-peace-o"></i> 许可证 </a></li>
        <li><a href="#zilic" data-toggle="tab">zilic</a></li>
      </ul>
    </div>
  </div>
</div>

<div class="col-md-6">
<div class="box box-info">
  <div class="box-header with-border">
    <h3 class="box-title">修改品牌</h3>
  </div>
  <div class="login-box-body">
    <form action="{% url 'setData_modify_brand_action' %}" method="post">
      <div class="form-group has-feedback">
        <input type="hidden"  class="form-control" value={{ brand_data.id }} name='id'>
        <input type="text"  class="form-control" value={{ brand_data.name }} name='brand'>
      </div>
      <div class="row">
        <div class="box-footer">
                <a href="{% url 'setData_get_brand' %}">取消</a>
                <button type="submit" class="btn btn-info pull-right">修改</button>
        </div>
        <!-- /.col -->
      </div>
    </form>

  </div>
</div>
</div>
{% endblock %}
